$white: #ffffff;
$white-50: rgba(#ffffff, 0.08);
$white-100: #F5F5F5;
$white-200: rgba(#E8EEF0, 0.40);
$white-300: #E8EEF0;
$white-400: #E4E4E4;

$gray-50: #797B7C;
$gray-100: #263238;

$rose-50: #DAB5FF;
$rose-100: rgba(#B880EF, 0.20);

$purple-50: #B5B5D7;
$purple-100: #7839CD;
$purple-200: #6229ad;

$blue-50: rgba(#B5E4FF, 0.30);
$blue-100: #14B9FF;
$blue-200: #4AA4D8;

$green-50: rgba(#B5FFE0, 0.30);
$green-100: #4AD894;

$red-50: #EF4444;
$red-100: #FF1414;

$orange-50: #FFA16C;
