<h1 *ngIf="isTasksEmptyOrNull; else emptyTable">A tabela está vazia. Adicione uma tarefa.</h1>

<ng-template #emptyTable>
  <div class="to-do-list-section">
    <button
      id="remove-all-button"
      *ngIf="!isTrashEmptyOrNull"
      (click)="removeSelected()"
    >
      remover selecionados
    </button>

    <table>
      <tr>
        <th>
          <img
            src="svg/checkbox.svg"
            alt="ícone de checkbox não selecionado"
            class="checkbox"
            (click)="selectAllTasks('checkbox')"
          >
        </th>
        <th>tarefa</th>
        <th>prioridade</th>
        <th>responsável</th>
        <th>status</th>
        <th>data</th>
      </tr>

      <tr *ngFor="let task of tasks">
        <td><img src="svg/checkbox.svg" class="checkbox" alt="ícone de checkbox não selecionado"></td>
        <td>{{task.description}}</td>

        <td class="cell-by-colors">
          <div
            class="cell-by-colors-content"
            [ngStyle]="{'background-color': getPriorityColor(task.priority, 'bg'),
            'color': getPriorityColor(task.priority, 'text')}"
          >
            <div
              [ngStyle]="{'background-color': getPriorityColor(task.priority, 'text')}"
            ></div>
            <p>{{task.priority}}</p>
          </div>
        </td>

        <td>{{task.responsible}}</td>

        <td class="cell-by-colors">
          <div
            class="cell-by-colors-content"
            [ngStyle]="{'background-color': getStatusColor(task.status, 'bg'),
            'color': getStatusColor(task.status, 'text')}"
          >
            <div
              [ngStyle]="{'background-color': getStatusColor(task.status, 'text')}"
            ></div>
            <p>{{task.status}}</p>
          </div>
        </td>

        <td>{{task.expected_delivery_date.substring(0, 15)}}</td>
      </tr>
    </table>
  </div>
</ng-template>

