@import '../../../../styles/functions.scss';
@import '../../../../styles/variables.scss';

.fixed-section {
    @include FlexCenter(space-between, 0rem);

    div {
      display: flex;
      align-items: start;
      flex-direction: column;
      color: $gray-100;

      h2 {
        font-size: 2.4rem;
        font-weight: 800;  
      }

      p {
        font-size: 1.8rem;
      }
    }

    button {
      @include FlexCenter(center, 1.2rem);
      padding: 1.4rem 1.4rem;
      border: none;
      border-radius: 1rem;
      background-color: $purple-100;
      transition: .3s;

      &:hover {
        cursor: pointer;
        background-color: $purple-200;
      }

      p{
        color: $white-100;
        font-size: 1.8rem;
      }
    }

  .box-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    width: 100%;
  }
}