<aside>
  <header>
    <img
      src="svg/menu-burger.svg"
      alt="ícone de menu da barra lateral"
    >
    <h3>Esig<span>Tasks</span></h3>
  </header>

  <ul>
    <li>
      <button
        (click)="changeMainContent('btn-for-dashboard', 'btn-for-tasks', 'dashboard')"
        id="btn-for-dashboard"
        class="clicked"
      >
        <img src="svg/dashboard.svg" alt="abc">
        <p>Dashboard</p>
      </button>
    </li>

    <li>
      <button
        (click)="changeMainContent('btn-for-tasks', 'btn-for-dashboard', 'tasks')"
        id="btn-for-tasks"
      >
        <img src="svg/task.svg" alt="">
        <p>Tarefas</p>
      </button>
    </li>
  </ul>
</aside>